.avatar-container {
  display: flex;
  justify-content: flex-start;
}

.user-container {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: column; */
}

.code-block {
  width: 700px;
  margin-bottom: 10px;
}

.message-container {
  height: auto;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 10px;
}
