.avatar-container {
  display: flex;
  justify-content: flex-start;
}

.user-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /* flex-direction: row; */
  columns: 8;
  align-items: flex-end;
  margin-right: 10px;
}

.bot-container {
  display: flex;
  justify-content: flex-start;
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* align-items: flex-end; */
}

.gztpzH {
  position: absolute;
  top: 0;
  right: -46px;
}

.code-block {
  align-items: center;
  margin-left: 10px;
}

.message-container {
  align-items: center;
  margin-right: 10px;
}

.message-user {
  height: 30px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
  align-items: center;
  display: flex;
  background-color: white;
}

.message-bot {
  height: 30px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
  background-color: white;
  /* align-items: center;
  display: flex; */
}
.message-video {
  height: auto;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
  background-color: transparent;
  /* align-items: center;
  display: flex; */
}
.message-bot-1 {
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
  background-color: white;
  /* align-items: center;
  display: flex; */
  margin-bottom: 10px;
}

.user-name {
  position: relative;
  right: -10px;
  margin-right: 10px;
  color: mintcream;
}
.bot-name {
  position: relative;
  right: -10px;
  margin-right: 10px;
  color: greenyellow;
}

.user-name {
  font-weight: bold !important;
}
